:root {
  --color-primary: #82a4f3;
  --color-white: #fff;
  --color-grey: #f7f7f7;
  --color-grey-light: #e0e0e0;
  --color-home-background: #e0e0e0;

  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.08);

  --poppins: "Poppins", sans-serif;
  --berkshire: "Berkshire Swash", serif;
  --montserrat: "Montserrat", sans-serif;
}
