.buildQuestion-container {
  &__counter {
    font-family: "Berkshire Swash", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    left: 2.5rem;
    top: 1.4rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 3rem;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 3px;
  }
  &__remove {
    position: absolute;
    right: 2.5rem;
    top: 1.4rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    &__hover {
      transform: scale(1.1);
    }
  }
}
